<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Войти</title>
</head>

<body>
  <h1>Войти</h1>
  <form method="POST" action="/api/user/login">
    <div>
      <label for="email">email:</label>
      <input type="text" id="email" name="email" value="<%= email %>">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" value="<%= password %>">
    </div>
    <div>
      <button type="submit">Войти</button>
      <button type="button" onclick="location.href='/api/user/signup';">Зарегистрироваться</button>
    </div>
  </form>
</body>

</html>